body{
    font-family: sans-serif;
}

input{
    padding: 5px;
    font-size: 22px;
}

#titulo{
    text-align: center;
    margin-top: 30px;
}

form{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.box{
    margin: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
    background-color: blue;
    color: white;
}

.box input{
    width: 90%;
}

button{
    margin-top: 20px;
    padding: 10px;
}

#formularioNovaSenha{
    display: none;
}

@media(min-width: 300px){
    #formulario{
        padding-left: 28px!important;
        padding-right: 28px!important;
    }
}

@media(min-width: 370px){
    #formulario{
        padding-left: 40px!important;
        padding-right: 40px!important;
    }
}

@media(min-width: 455px){
    #formulario{
        padding-left: 80px!important;
        padding-right: 80px!important;
    }
}

@media(min-width: 640px) and (max-width: 767px){
    #formulario{
        padding-left: 150px!important;
        padding-right: 150px!important;
    }
}

@media(min-width: 768px){
    #formulario{
        padding-left: 60px!important;
        padding-right: 60px!important;
    }
}

@media(min-width: 880px){
    #formulario{
        padding-left: 80px!important;
        padding-right: 80px!important;
    }
}