.ativo{
    color: #3976D1!important;
    box-shadow: 0 2px #3976D1!important;
}

/* width */
.tabela::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .tabela::-webkit-scrollbar-track {
    background: #c9c9c9;
  }
  
  /* Handle */
  .tabela::-webkit-scrollbar-thumb {
    background: #586065;
  }
  
  /* Handle on hover */
  .tabela::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.row:hover .divider{
    background-color: #3976D1!important;
    opacity: 100%!important;
}